/* Configurações gerais da página */
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --allWhite: #fff;
    --allWhite2: #f1f3f7;
    --allWhite3: #f6f6f6;
    --allGray: #a89f9f;
    --allDarkGray: #233032;
    --allBlue: #2f86d6;

    --priceBlue: rgba(47, 134, 214, 1);
    --priceGray: #a8a4a4;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container-base {
    width: 100%;
    position: relative;
    min-width: 320px;
    max-width: 900px;
    margin: 0px auto;
}


/* header */
header {
    background-color: var(--allWhite3);
    position: relative;
}

header .container-base{
    width: 100%;
    height: 120px;
    position: relative;
}

header img {
    position: absolute;
    width: 70px;
    top: 25px;
    left: 0px;
}

header h1 {
    position: absolute;
    top: 20px;
    left: 85px;
}

header p {
    position: absolute;
    top: 65px;
    left: 85px;
    font-weight: bold;
    color: var(--allBlue);

}

header nav {
    position: absolute;
    right: 0px;
    top: 35%;
}

header nav ul li{
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--allDarkGray);
    font-weight: 600;
}

/* Banner */
.banner {
    height: 70vh;
    background-color: var(--allBlue);
    color: white;
}

.banner h2 , .banner p{
    width: 50%;
    position: absolute;
    left: 0px;
}

.banner .banner-p1{
    top: 90px;
}

.banner h2 {
    top: 130px;
    font-size: 28px;
}

.banner .banner-p2{
    top: 260px;
}


.banner img {
    width: 50%;
    position: absolute;
    right: 0px;
}

.banner #seta {
    position: fixed;
    width: 50px;
    right: 50px;
    bottom: 50px;
}

/* link de preços na página principal */
.preco-area {
    background-color: var(--allDarkGray);
    color: var(--allWhite);
    padding: 20px 0px;
    height: 100px;
}

.preco-area h3, .preco-area p {
    width: 60%;
}

.preco-area h3 {
    font-size: 22px;
}

.preco-area a {
    position: absolute;
    padding: 15px 20px 15px 40px;
    right: 0px;
    top: 50%;
    transform: translate(0, -50%);


    background-color: var(--allBlue);
    color: var(--allWhite);
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
}

.preco-area img {
    position: absolute;
    width: 20px;
    right: 200px;
    top: 19px;
}

.preco-area2 {
    background-color: var(--allBlue);
}

.preco-area2 a {
    background-color: var(--allDarkGray);
}

.preco-area2 img {
    top: 22px;
}


/* Tabela */
table img {
    width: 100px;
}